<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

		<title>Counter {{counter_id}}</title>
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="/html/widgets/text_mario.css" rel="stylesheet">
		<style>
			:root {
				/*--text-color-top: violet;*/
				/*--text-color-bottom: purple;*/
				/*--outline-color: #290131;*/
			}
		</style>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
		<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
		<script>
			const socket_namespace = "{{socket_namespace}}";

			var valueElems = null;
			
			function updateCounter(data) {
				for (let elem of valueElems)
					elem.innerHTML = data.value;
			}

			// Polls stopwatch events through GET requests.
			function sendUpdateRequest() {
				$.getJSON(
					"/counter/{{counter_id}}",
					{"update": "1"},
					updateCounter
				);
			}

			function startUpdateLoop() {
				valueElems = document.getElementsByClassName("text-grad-number");

				// Using sockets
				var socket = io(socket_namespace, {transports: ["websocket", "polling"]});
				socket.on("{{event_name}}", updateCounter);
				var timerId = setTimeout(sendUpdateRequest, 100);

				// Using polling
				//var timerId = setInterval(sendUpdateRequest, 300);
			}
		</script>
	</head>
	<body id="text" style="background:transparent" onload="startUpdateLoop()">
		<div style="position: absolute; bottom: 1px;">
			<span class="text-grad-normal text-outline-normal">{{title}}</span><span class="text-grad-number text-outline-normal">{{value}}</span>
		</div>
		<div style="position: absolute; bottom: 1px;">
			<span class="text-grad-normal">{{title}}</span><span class="text-grad-number">{{value}}</span>
		</div>
	</body>
</html>

