<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Stopwatch {{stopwatch_id}}</title>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="/html/widgets/text_mario.css" rel="stylesheet">
		<style>
			:root {
				/*--text-color-top: orange;*/
				/*--text-color-bottom: red;*/
				/*--outline-color: #00094f;*/
			}
		</style>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
		<script>
			class Stopwatch {
				constructor(initialValue = 0, stopsAtZero = False) {
					this.stopsAtZero = stopsAtZero
					this.isRunning = false;
					this.valueMs = initialValue;
					this.lastUpdateTime = Date.now();
					this.countdownEnded = false;
				}

				update() {
					var now = Date.now();
					if (this.isRunning) {
						var delta = (new Date(now - this.lastUpdateTime)).getTime();
						if (this.stopsAtZero && (this.valueMs < 0 && this.valueMs + delta >= 0)) {
							this.stop();
							this.valueMs = 0;
							this.countdownEnded = true;
						} else {
							this.valueMs += delta;
						}
					}
					this.lastUpdateTime = now;
				}

				start() {
					this.isRunning = true;
					this.countdownEnded = false;
					this.update();
				}

				stop() {
					this.isRunning = false;
					this.update();
				}

				reset(ms = 0) {
					this.stop();
					this.valueMs = ms;
					this.countdownEnded = false;
				}

				getTimeValues() {
					var absValueMs = Math.abs(this.valueMs);
					var t = {}
					t.sign = Math.sign(this.valueMs);
					t.hours = Math.floor(absValueMs / (60 * 60 * 1000));
					t.minutes = Math.floor(absValueMs / (60 * 1000));
					t.seconds = Math.floor(absValueMs / 1000);
					t.centiseconds = Math.floor(absValueMs / 10);
					t.milliseconds = Math.floor(this.valueMs);
					return t;
				}

				toString() {
					var t = this.getTimeValues();

					var result = t.sign < 0 ? "-" : "";
					if (t.hours > 0) {
						result += t.hours + ":";
					}
					if (t.minutes > 0) {
						t.minutes %= 60;
						result += (t.hours > 0 && t.minutes < 10 ? "0" : "") + t.minutes + ":";
					}
					t.seconds %= 60;
					result += (t.seconds < 10 ? "0" : "") + t.seconds + ".";
					t.centiseconds %= 100;
					result += (t.centiseconds < 10 ? "0" : "") + t.centiseconds;
					return result;
				}
			};

			const socket_namespace = "{{socket_namespace}}";

			var stopwatch = null;
			var hoursElems = null;
			var minutesElems = null;
			var secondsElems = null;
			var centisecondsElems = null;

			function setInnerHtmlForElems(elems, str) {
				for (let elem of elems) {
					elem.innerHTML = str;
				}
			}

			function renderStopwatch() {
				stopwatch.update();
				var timeStr = stopwatch.toString().split(".");
				var hms = timeStr[0].split(":");
				var centiseconds = timeStr[1];

				for (let classElems of [hoursElems, minutesElems, secondsElems, centisecondsElems]) {
					setInnerHtmlForElems(classElems, "");
				}
				var i = 0;
				if (hms.length == 3) {
					setInnerHtmlForElems(hoursElems, hms[i++] + ":");
				}
				if (hms.length >= 2) {
					setInnerHtmlForElems(minutesElems, hms[i++] + ":");
				}
				setInnerHtmlForElems(secondsElems, hms[i++]);
				setInnerHtmlForElems(centisecondsElems, centiseconds)

				if (stopwatch.countdownEnded) {
					stopwatch.reset();
					$.getJSON(
						"/stopwatch/{{stopwatch_id}}",
						{ "countdown-ended": 1 },
						function (data) { }
					);
				}
			}

			function updateStopwatch(data) {
				if (data.hasOwnProperty("start") && data.start) {
					stopwatch.start();
				}
				if (data.hasOwnProperty("stop") && data.stop) {
					stopwatch.stop();
				}
				if (data.hasOwnProperty("reset") && data.reset) {
					stopwatch.reset();
				}
				if (data.hasOwnProperty("add")) {
					stopwatch.valueMs += data.add;
				}
			}

			// Polls stopwatch events through GET requests.
			function sendUpdateRequest() {
				var queryArgs = { "update": 1 }
				$.getJSON(
					"/stopwatch/{{stopwatch_id}}",
					queryArgs,
					updateStopwatch
				);
			}

			function startUpdateLoop() {
				stopwatch = new Stopwatch(0, {{stops_at_zero}});
				hoursElems = document.getElementsByClassName("hours");
				minutesElems = document.getElementsByClassName("minutes");
				secondsElems = document.getElementsByClassName("seconds");
				centisecondsElems = document.getElementsByClassName("centiseconds");

				// Using sockets
				var socket = io(socket_namespace, { transports: ["websocket", "polling"] });
				socket.on("{{event_name}}", updateStopwatch);

				// Using polling
				//updateTimerId = setInterval(sendUpdateRequest, 300);

				renderTimerId = setInterval(renderStopwatch, 50);
			}
		</script>
	</head>
	<body style="background:transparent" onload="startUpdateLoop()">
		<!-- To override title, just change the `content` attribute of class `.title` -->

		<!-- Title text outline -->
		<div style="position: absolute; bottom: 1px; left: 1px">
			<span class="text-grad-normal text-outline-normal"><span class="title">{{title}}</span></span>
		</div>
		<!-- Title text gradient -->
		<div style="position: absolute; bottom: 1px; left: 1px">
			<span class="text-grad-normal"><span class="title">{{title}}</span></span>
		</div>
		
		<!-- Hours text outline --> 
		<div style="position: absolute; bottom: 1px; right: 1px; font-size: 0;">
			<span class="text-grad-number text-outline-normal hours"></span>
			<span class="text-grad-number" style="opacity: 0">00:00.</span>
			<span class="text-grad-number-small" style="opacity: 0">00</span>
		</div>
		<!-- Hours text gradient --> 
		<div style="position: absolute; bottom: 1px; right: 1px;  font-size: 0;">
			<span class="text-grad-number hours"></span>
			<span class="text-grad-number" style="opacity: 0">00:00.</span>
			<span class="text-grad-number-small" style="opacity: 0">00</span>
		</div>

		<!-- Minutes text outline --> 
		<div style="position: absolute; bottom: 1px; right: 1px; font-size: 0;">
			<span class="text-grad-number text-outline-normal minutes"></span>
			<span class="text-grad-number" style="opacity: 0">00.</span>
			<span class="text-grad-number-small" style="opacity: 0">00</span>
		</div>
		<!-- Minutes text gradient --> 
		<div style="position: absolute; bottom: 1px; right: 1px;  font-size: 0;">
			<span class="text-grad-number minutes"></span>
			<span class="text-grad-number" style="opacity: 0">00.</span>
			<span class="text-grad-number-small" style="opacity: 0">00</span>
		</div>

		<!-- Seconds text outline --> 
		<div style="position: absolute; bottom: 1px; right: 1px; font-size: 0;">
			<span class="text-grad-number text-outline-normal seconds"></span>
			<span class="text-grad-number text-outline-normal">.</span>
			<span class="text-grad-number-small" style="opacity: 0">00</span>
		</div>
		<!-- Seconds text gradient --> 
		<div style="position: absolute; bottom: 1px; right: 1px;  font-size: 0;">
			<span class="text-grad-number seconds"></span>
			<span class="text-grad-number">.</span>
			<span class="text-grad-number-small" style="opacity: 0">00</span>
		</div>

		<!-- Centiseconds text outline --> 
		<div style="position: absolute; bottom: 1px; right: 1px; font-size: 0">
			<span class="text-grad-number text-outline-normal"></span>
			<span class="text-grad-number-small text-outline-normal"><span class="centiseconds"></span></span>
		</div>
		<!-- Centiseconds text gradient --> 
		<div style="position: absolute; bottom: 1px; right: 1px; font-size: 0">
			<span class="text-grad-number"></span>
			<span class="text-grad-number-small centiseconds"></span>
		</div>
	</body>
</html>

