<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

		<title>TextBox {{textbox_id}}</title>
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="/html/widgets/text_mario.css" rel="stylesheet">
		<style>
			:root {
				/*--text-color-top: orange;*/
				/*--text-color-bottom: red;*/
				/*--outline-color: #00094f;*/
			}
		</style>
	</head>
	<body id="text" style="background: transparent">
		{% if show_box %}
			<div class="box-outer"></div>
			<div class="box-inner"></div>
			<div class="box-dot-tl"></div>
			<div class="box-dot-tr"></div>
			<div class="box-dot-bl"></div>
			<div class="box-dot-br"></div>
		{% endif %}
		<!-- To override, just change the `content` attribute of classes `.text-val` and `.numer-val` -->
		<div style="position: absolute; bottom: 1px; left: 1px">
			<span class="text-grad-normal text-outline-normal"><span class="text-val">{{text_val}}</span></span>
		</div>
		<div style="position: absolute; bottom: 1px; left: 1px">
			<span class="text-grad-normal"><span class="text-val">{{text_val}}</span></span>
		</div>
		<div style="position: absolute; bottom: 1px; right: 1px">
			<span class="text-grad-number text-outline-normal"><span class="numer-val">{{numer_val}}</span></span>
		</div>
		<div style="position: absolute; bottom: 1px; right: 1px">
			<span class="text-grad-number"><span class="numer-val">{{numer_val}}</span></span>
		</div>
	</body>
</html>

