:root {
	--text-color-bottom: black;
	--text-color-top: black; /* Ignored for this style */
	--outline-width: 8px;
	--outline-color: #101010;
	--box-color: blue;
}

.text-grad-normal {
	font-family: 'Delfino';
	font-size: 50px;
}

.text-grad-number {
	font-family: 'Delfino';
	font-size: 46px;
	/*font-weight: bold;*/
	letter-spacing: 2px;
}

.text-grad-number-small {
	font-family: 'Delfino';
	font-size: 32px;
	/*font-weight: bold;*/
	letter-spacing: 2px;
}

[class*="text-grad-"] {
	background-image: linear-gradient(to top, var(--text-color-bottom) 30%, var(--text-color-top) 70%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.text-outline-normal {
	-webkit-text-stroke: var(--outline-width) var(--outline-color);
}
