:root {
	--text-color-top: lightcyan;
	--text-color-bottom: #C0C0E0;
	--outline-width: 0px;
	--outline-color: transparent;
	--box-color: blue;
	--box-opacity: 70%;
	--box-border-radius: 20px;
	--box-border-width: 3px;
}

.text-grad-normal {
	font-family: 'Delfino';
	font-size: 50px;
}

.text-grad-number {
	font-family: 'Delfino';
	font-size: 46px;
	/*font-weight: bold;*/
	letter-spacing: 2px;
}

.text-grad-number-small {
	font-family: 'Delfino';
	font-size: 32px;
	/*font-weight: bold;*/
	letter-spacing: 2px;
}

[class*="text-grad-"] {
	background-image: linear-gradient(to top, var(--text-color-bottom) 30%, var(--text-color-top) 70%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.text-outline-normal {
	-webkit-text-stroke: var(--outline-width) var(--outline-color);
	text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

.box-outer {
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: var(--box-color);
	border-radius: var(--box-border-radius);
	filter: opacity(var(--box-opacity));
}

.box-inner {
	position: absolute;
	margin-left: calc(var(--box-border-radius) / 2 - var(--box-border-width));
	margin-top: calc(var(--box-border-radius) / 2 - var(--box-border-width));
	width: calc(100% - 10px - var(--box-border-radius));
	height: calc(100% - 10px - var(--box-border-radius));
	background: transparent;
	border-style: solid;
	border-radius: calc(var(--box-border-radius) * 2/3);
	border-color: var(--text-color-top);
	border-width: var(--box-border-width);
	filter: opacity(var(--box-opacity));
}

[class*="box-dot-"] {
	position:absolute;
	background: var(--text-color-top);
	width: calc(var(--radius) * 2);
	height: calc(var(--radius) * 2);
	border-radius: calc(var(--radius));
	filter: opacity(var(--box-opacity));
	--corner-distance: calc(var(--box-border-radius));
	--radius: calc(var(--box-border-width) * 1.5);
}

.box-dot-tl {
	top:  calc(var(--corner-distance) + 5px);
	left: calc(var(--corner-distance) + 5px);
}

.box-dot-tr {
	top:   calc(var(--corner-distance) + 5px);
	right: calc(var(--corner-distance));
}

.box-dot-bl {
	bottom: calc(var(--corner-distance));
	left:   calc(var(--corner-distance) + 5px);
}

.box-dot-br {
	bottom: calc(var(--corner-distance));
	right:  calc(var(--corner-distance));
}
