:root {
	--text-color-bottom: gray;
	--text-color-top: pink;
	--outline-width: 8px;
	--outline-color: #101010;
}

.text-grad-normal {
	font-family: thewitcher;
	font-size: 50px;
}

.text-grad-number {
	font-family: 'Century Gothic';
	font-size: 46px;
	font-weight: bold;
	letter-spacing: 2px;
}

.text-grad-number-small {
	font-family: 'Century Gothic';
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 2px;
}

[class*="text-grad-"] {
	background-image: linear-gradient(to top, var(--text-color-bottom) 30%, var(--text-color-top) 70%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.text-outline-normal {
	-webkit-text-stroke: var(--outline-width) var(--outline-color);
}
